body {
  background-image: url(https://museums.calderdale.gov.uk/sites/default/files/venues/smithartgallery007.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
}

.App {
  text-align: center;
}

.Art {
  border: 2px solid #ffeb3b;
  background: #9c27b0;
  width: 20%;
  margin-top: 1%;
  margin-left: 40%;
  color: white;
  border-radius: 8px;
}

.Welcome {
  color: #e9004f;
}

.inc {
  background-color: aquamarine;
  border-radius: 7px;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  border: none;
}

.reset {
  margin-top: 6px;
  background-color: rgb(13, 21, 144);
  border: none;
  color: white;
  border-radius: 7px;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  outline: none;
}

.Headline {
}

span {
  font-weight: bold;
  font-size: 41px;
  border: 3px solid darkblue;
  padding: 25px;
  background-color: #da1b52;
  color: white;
  margin: 15px;
  border-radius: 50%;
  -webkit-justify-content: center;
  justify-content: center;
}
